html, body {
  max-width: 1000px;
  margin: auto;
}

.App {
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.card {
  overflow: auto;
}

img {
  margin-top: 20px;
  display: block;
  height: 120px;
  width: auto;
}

button {
  display: block;
}

h4 {
  margin-top: 15px;
}

.tabs {
  margin-bottom: 25px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-bottom: 10px;
  padding-left: 0px;
  background-color: white;
  color: orange;
  outline: none;
  border: none;
}

.btn:hover {
  margin-bottom: 10px;
  padding-left: 0px;
  background-color: white;
  text-decoration: underline !important;
  color: orange;
  outline: none;
  border: none;
}*/

.flex {
  display: flex;
  align-items: center;
  display-content: center;
}

.eventData {
  margin-bottom: 25px;
}

.saveButton {
  float: right;
  color: #5cd6d6;
}

.saveButton:hover{
  color: #5cd6d6;
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: white;
}

.back {
  float: right;
  color: #5cd6d6;
}

.back:hover {
  color: #5cd6d6;
}

#searchButton {
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: orange;
  color: white;
  outline: none;
  border: none;
}

#searchButton:hover {
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: orange;
  color: white;
  outline: none;
  border: none;
}

input {
  margin-bottom: 5px !important;
}

.radio {
  margin-bottom: 5px;
}

.error {
  margin-bottom: 25px !important;
  color: #cc0000 !important;
}

.header1 {
  font-weight: bold;
  color: #5cd6d6;
}

.header2 {
  color: orange;
}

label {
  color: grey;
}

.md-text-field.with-floating-label label:first-of-type {
  color: grey;
}

input[type="radio"] + label {
  margin-top: 20px;
  margin-left: 8px;
}

.md-multi-ctrl-field input[type="radio"]:checked {
  background-color: #29a3a3;
  border: none;
}

.uitk-select select.os-default:focus, .uitk-select select.os-default.has-focus {
      outline: none;
      border-bottom-width: 2px;
      border-color: #5cd6d6; }

      a {
    line-height: inherit;
    text-decoration: none;
    color: #29a3a3;
}

a:visited {
    color: #29a3a3;
}

.tabs .tab-title.active a, .tabs .tab-title.active button {
    background-color: transparent;
    color: #000000;
    text-decoration: none;
    border-color: #29a3a3;
}

.tabs .tab-title > a:hover {
  color: #5cd6d6;
}