html, body {
  max-width: 1000px;
  margin: auto;
}

.App {
  margin-top: 25px;
  margin-bottom: 25px;
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 10px;
  margin-bottom: 25px;
}

.card {
  overflow: auto;
}

img {
  margin-top: 20px;
  display: block;
  height: 120px;
  width: auto;
}

button {
  display: block;
}

h4 {
  margin-top: 15px;
}

.tabs {
  margin-bottom: 25px;
}

.buttonGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  margin-bottom: 10px;
  padding-left: 0px;
  background-color: white;
  color: orange;
  outline: none;
  border: none;
}

.btn:hover {
  margin-bottom: 10px;
  padding-left: 0px;
  background-color: white;
  text-decoration: underline !important;
  color: orange;
  outline: none;
  border: none;
}

.flex {
  display: flex;
  align-items: center;
  display-content: center;
}

.eventData {
  margin-bottom: 25px;
}

.saveButton {
  float: right;
  color: #5cd6d6;
}

.saveButton:hover{
  color: #5cd6d6;
}

.icon {
  display: inline-block;
  margin-right: 10px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: white;
}

.back {
  float: right;
  color: #5cd6d6;
}

.back:hover {
  color: #5cd6d6;
}

#searchButton {
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: orange;
  color: white;
  outline: none;
  border: none;
}

#searchButton:hover {
  margin-bottom: 10px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: orange;
  color: white;
  outline: none;
  border: none;
}

input {
  margin-bottom: 5px !important;
}

.radio {
  margin-bottom: 5px;
}

.error {
  margin-bottom: 25px !important;
  color: #cc0000 !important;
}

.header1 {
  font-weight: bold;
  color: #5cd6d6;
}

.header2 {
  color: orange;
}

label {
  color: grey;
}

.md-text-field.with-floating-label label:first-of-type {
  color: grey;
}

input[type="radio"] + label {
  margin-top: 10px;
  margin-left: 8px;
}

.md-multi-ctrl-field input[type="radio"]:checked {
  background-color: #29a3a3;
  border: none;
  margin-bottom: 12px !important;
}

.md-multi-ctrl-field input[type="radio"] {
  margin-bottom: 12px !important;
}

.uitk-select select.os-default:focus, .uitk-select select.os-default.has-focus {
      outline: none;
      border-bottom-width: 2px;
      border-color: #5cd6d6; }

      a {
    line-height: inherit;
    text-decoration: none;
    color: #29a3a3;
}

a:visited {
    color: #5cd6d6;
}

a {
  color: #5cd6d6;
}

.tabs .tab-title.active a, .tabs .tab-title.active button {
    background-color: transparent;
    color: #000000;
    text-decoration: none;
    border-color: #29a3a3;
}

.tabs .tab-title > a:hover {
  color: #5cd6d6;
}

select {
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-color: white;
    border-color: #cccccc;
    color: #444444;
    margin-bottom: 5px;
}

select:hover {
  background-color: white;
  color: #444444;
}

.sort {
  margin-bottom: 20px;
}

.gcal {
  color: orange !important;
}

.loading {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-indicator:before {
    border-color: #5cd6d6;
}
.loading-indicator:after {
    border-color: orange;
}

#toast {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: orange; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 5px; /* Rounded borders */
    padding: 16px; /* Padding */
    padding-bottom: 0px;
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#toast.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.datePickerDiv {
  padding-left: 0px;
}